<!DOCTYPE html>
<html>
  <head>
    <title>Create courses</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <div class="container">
      <h3><a href="/courses">courses List</a></h3>
      <h1>Create New courses</h1>
      <form action="/courses/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><textarea name="description"></textarea></td>
            </tr>
            <tr>
              <td>Instructor</td>
              <td><input type="text" name="instructor" /></td>
            </tr>

            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
