<!DOCTYPE html>
<html>
  <head>
    <title>Course List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/courses/create">Create courses</a></h3>
      <h1>courses List</h1>
      <% if(courses.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>courses Name</th>
            <th>description</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<courses.length;i++) { %>
            <tr>
              <td><a href="/courses/show/<%= courses[i]._id%>"><%= courses[i].name%></a></td>
              <td><%= courses[i].description%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No courses found.</div>
      <% } %>
    </div>
  </body>
</html>
