body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* #register label{
  margin-right:5px;
  }
  #register input {
  padding: 5px 14px;
  border: 1px solid #d5d9da;
  box-shadow: 0 0 9px #0E34F5 inset;
  width: 272px;
  font-size: 1em;
  height: 25px;
  } */
