<h1>Add a Course</h1>
<form>
	<div class="form-group">
		<label>courseName</label>
		<!--<input class="form-control" ng-model="myCourses.courseName"></input>-->
		<select class="form-control" ng-model="myCourses.courseName">
	      <option>Getting started with Node.JS</option>
	      <option>Hands on JAVA EE</option>
	      <option>Querying an SQL DB</option>
	      <option>MongoDB server administration</option>
	      <option>Deploying on AWS</option>
	    </select>
	</div>
	<input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
</form>


<!--<form action="/action_page.php">
  <label for="cars">Choose a car:</label>
  <select id="cars" name="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat">Fiat</option>
    <option value="audi">Audi</option>
  </select>
  <input type="submit">
</form>

<select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>-->